.logInDiv{
    margin: 0 15em;
}
.loginRow{
  background-color: rgb(32,194,84);
}

.loginForm{
    text-align: center;
    margin: 10em 0;
    padding: 0 !important;
}
#loginForm{
    background-color: rgba(253, 254, 254, 1);
    padding: 1em 1em;
}
.cardTopLogin{
    border-bottom: 1px solid;
    padding: 1em 0 !important;
    background-color: rgb(92,184,92) !important; 
    color: white;
    font-family: Montserrat, sans-serif;
    letter-spacing: 5px;
}
.welcomeBackLogin{
  color: white;
}
.loginInput:nth-child(1){
  margin-top: 2em;
}
.loginInput:nth-child(3){
  margin-bottom: 0 !important;
}
.loginInput {
  padding: 1em 8.3em;
    text-align: center;
  display: block;
  margin: 0 0 2em 21.5%;
}
p span{
  color: white;
  float: left;
}
.alreadyLoginSpan{
  float: right;
}
.newToSpan{
  color: white !important;
  float: right;
}
.newToSpan a{
  padding-left: 12px;
  color: white !important;
  float: right;
}

