h2 {
	text-align: center;
}

.sectionResults{
	margin: 7em;
}

.AdviceView {
	text-align: left;
}
.resultsHeader h1{
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 10.7em !important;
    font-weight: bold;
}