h2 {
	text-align: center;
}

.sectionResults{
	margin: 7em 15em;
}

.AdviceView {
	text-align: left;
}
.resultsHeader h1{
    text-align: left;
    font-family: Montserrat, sans-serif;
    font-size: 3.7em !important;
    font-weight: bold;
}
.resultsHeader h2{
    margin-bottom: 0 !important;
    font-family: Montserrat, sans-serif;
    font-size: 2.5em !important;
}
.rowContainer {
    background-color: rgb(51,82,110);
    color: white;
    margin-bottom: 3em;
}
.AdviceView{
    padding: 3em;
    background-color: rgb(51,82,110);
    color: white;
}
.containerResult p{
    text-align: left;  
    margin: 1em 0 0 3em !important;
    font-size: 1.8em !important;
}

.adviceMapList p{
    padding-top: 1em;
    border: 1px solid;
    margin-left: 0 !important;
    font-size: 1em !important;

}
input{
      padding: .4em 4.3em;
    text-align: center;

}
.text-white{
    padding: 1em;
}