.signupFormDiv{
    margin: 0 15em;
}
.signupRow{
  background-color: rgb(32,194,84);
}
.signupForm{
    text-align: center;
    margin: 10em 0;
    padding: 0 !important;
}
#signupForm{
    background-color: rgba(253, 254, 254, 1);
    padding: 1em 1em;
}
.cardTopSignup{
    border-bottom: 1px solid;
    padding: 1em 0 !important;
    background-color: rgb(52,83,111) !important; 
    color: white;
    font-family: Montserrat, sans-serif;
    letter-spacing: 5px;
}
.alreadyUser{

}

.signupInput:nth-child(1){
  margin-top: 2em;
}
.signupInput:nth-child(3){
  margin-bottom: 0 !important;
}
.signupInput {
  padding: 1em 17.3%;
  text-align: center;
  display: block;
  margin: 0 0 2em 21.5%;
}
.loginSub{
  margin-bottom: 3em;
  padding: 1.25em 7em !important;
  background-color: rgb(32,194,84) !important;
}
.alreadyLoginSpan{
  color: white !important;
  float: right;
}
.alreadyLoginSpan a{
  padding-left: 12px;
  color: white !important;
  float: right;
  }
  .signupLogin{
    color: rgb(51,82,110);
  }