nav {
	text-decoration: none;

}
.navBar{
	font-size: 20px !important;
}
.navigation{
	font-size: .7em !important;
}
.logo{
	float: left;
}
.dropdown-menu{
	color: #cdcdcd !important;
	text-align: center !important;
	background-color: black !important;
}
.dropdown:hover .dropdown-menu {
	color: rgba(224, 224, 224, 0.94);
display: block;
}
.dropdown{
	color: rgba(255, 255, 255, 0.5);
}
.nav-item{
	padding: .34em .3em;
	color: rgba(255, 255, 255, 0.73);
	margin: 3.5px;
}

.toolsDrop:hover{
	color: rgb(32,194,84) !important;
	border-bottom: 1px solid;
}

nav a {
	margin-right: 3.5%;
	color: rgba(255, 255, 255, 0.73) !important;
}
nav a:hover{
	color: rgb(32,194,84) !important;
}
.loginNav{
	margin-right: 3px !important;
}